<div class="ant-progress-inner ng-star-inserted" style="width: 100px; height: 100px; font-size: 25.8px;">
    <svg class="ant-progress-circle " viewBox="0 0 100 100">
      <path class="ant-progress-circle-trail" fill-opacity="0" stroke="#f3f3f3" stroke-width="10" 
      d="M 50,50 m 0,-47 a 47,47 0 1 1 0,94 a 47,47 0 1 1 0,-94" 
     style="stroke-dasharray: 295.31px, 295.31px; stroke-dashoffset: -5px;"></path>
     <path class="ant-progress-circle-path" fill-opacity="0" stroke-linecap="round" 
     d="M 50,50 m 0,-47 a 47,47 0 1 1 0,94 a 47,47 0 1 1 0,-94" stroke="#108ee9" stroke-width="10" 
     style="stroke-dasharray: 236.248px, 295.31px; stroke-dashoffset: -5px;"></path>
    </svg>
    <!---->
    <!----><span class="ant-progress-text ng-star-inserted"><!----> 80% <!----></span>
    <!---->
</div>