$base: #44268a;
* {
    box-sizing: border-box;
}

@mixin tr() {
    td {
        overflow: hidden;
        border-width: 0 1px 1px 0;
        border-style: dotted;
        border-color: #ccc;
        padding: 8px;
        height: 44px;
        margin: 0;
        // border: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        div {
            margin: 0;
            padding: 0;
            line-height: 18px;
            height: 18px;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.datagird-view {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    .datagird-header {
        table {
            background-color: #fff;
            tr {
                background: linear-gradient(to bottom, #fcfcfc 20%, #eee 100%);
                td {
                    cursor: pointer;
                    color: #307ecc;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-indent: 0.5rem; //文字缩进 
                }
            }
        }
    }
    .datagird-body {
        table {
            tr {
                &:nth-child(odd) {
                    background: #f9f9f9
                }
            }
        }
    }
    .datagird-loading {
        height: 100%;
        width: 100%;
        // border: 1px solid #ddd;
        h2 {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            // text-align: center;
            //margin-top: 45px;
        }
    }
}

.datagird-view1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    .datagird-header {
        .datagird-header-inner {
            .datagird-htable {
                table-layout: fixed;
                tr {
                    @include tr();
                }
                margin: 0;
            }
        }
    }
    .datagird-body {
        overflow: hidden;
        .datagird-body-inner {
            //background: lighten($base, 20%);
            .datagird-btable {
                table-layout: fixed;
                tr {
                    @include tr();
                }
                margin: 0;
            }
            margin-bottom: 25px;
        }
    }
    .datagird-footer {}
}

.datagird-view2 {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    .datagird-header {
        overflow: hidden;
        .datagird-header-inner {
            width: 10000px;
            .datagird-htable {
                table-layout: fixed;
                tr {
                    @include tr();
                }
                margin: 0;
            }
        }
    }
    .datagird-body {
        overflow: auto;
        .datagird-btable {
            table-layout: fixed;
            tr {
                @include tr()
            }
            margin: 0;
        }
    }
    .datagird-footer {}
}

.datagird-btable,
.datagird-htable {
    border-collapse: separate; //表格边框合并
    border-spacing: 0;
    //border-collapse: collapse; //表格边框整体属性
}