<div class="datagird-view" [style.width]="config.w_gird" [style.height]="config.h_gird">
    <div class="datagird-view1" [style.width]="config.w_gird_fixed" [style.height]="config.h_gird_view">
        <div class="datagird-header">
            <div class="datagird-header-inner">
                <table class="datagird-htable" [style.width]="config.w_gird_fixed">
                    <thead>
                        <tr [style.height]="config.h_gird_head">
                            <ng-container *ngFor="let column of config.columns">
                                <td *ngIf="column.fixed" [style.width]="column.width+'px'">
                                    <div>{{column.title}}</div>
                                    <i class="fa" *ngIf="column.sort" [ngClass]="column.sortType?column.sortType:'fa-sort'" aria-hidden="true" (click)="sort(column)">                                     
                                    </i>
                                </td>
                            </ng-container>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="datagird-body" [style.height]="config.h_gird_body" [scrollTop]="scrollTop">
            <div class="datagird-body-inner">
                <table class="datagird-btable" [style.width]="config.w_gird_fixed">
                    <tbody>
                        <tr *ngFor="let item of source">
                            <ng-container *ngFor="let column of config.columns">
                                <td *ngIf="column.fixed" [style.width]="column.width+'px'">
                                    <div>{{ item[column.field] }}</div>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="datagird-footer">

        </div>
    </div>
    <div class="datagird-view2" [style.width]="config.w_gird_nofixed" [style.height]="config.h_gird_view">
        <div class="datagird-header" [scrollLeft]="scrollLeft">
            <div class="datagird-header-inner">
                <table class="datagird-htable" [style.height]="config.h_gird_head" [style.width]="config.w_gird_table">
                    <thead>
                        <tr [style.height]="config.h_gird_head">
                            <ng-container *ngFor="let column of config.columns">
                                <td *ngIf="!column.fixed" [style.width]="column.width+'px'">
                                    <div>{{column.title}}</div>
                                </td>
                            </ng-container>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="datagird-body" [style.height]="config.h_gird_body" (scroll)="scroll($event)">
            <table class="datagird-btable " [style.width]="config.w_gird_table">
                <tbody>
                    <tr *ngFor="let item of source">
                        <ng-container *ngFor="let column of config.columns">
                            <td *ngIf="!column.fixed" [style.width]="column.width+'px'">
                                <div>{{ item[column.field] }}</div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datagird-footer">
        </div>
    </div>
    <div class="datagird-loading" *ngIf="!source">
        <h2>数据加载中</h2>
    </div>
</div>