<div style="width: 600px;height:400px">
    <div class="datagird-view" style="width: 600px;height:300px">
        <div class="datagird-view1" style="width: 200px;">
            <div class="datagird-header">
                <div class="datagird-header-inner">
                    <table class="datagird-htable table" style="height:25px;width: 200px;">
                        <tr>
                            <td width="30px">
                                <div>我是双向固定列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向固定列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向固定列3</div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="datagird-body" style="height:275px" [scrollTop]="scrollTop">
                <div class="datagird-body-inner">
                    <table class="datagird-btable table" style="width: 200px;">
                        <tbody>
                            <tr>
                                <td width="30px">
                                    <div>{{scrollTop}}</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <div>我是纵行滚动列1</div>
                                </td>
                                <td width="90px">
                                    <div>我是纵行滚动列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是纵行滚动列3</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datagird-footer">

            </div>
        </div>
        <div class="datagird-view2" style="width: 400px;">
            <div class="datagird-header" [scrollLeft]="scrollLeft">
                <div class="datagird-header-inner">
                    <table class="datagird-htable table" style="width: 600px;">
                        <tbody>
                            <tr>
                                <td width="30px">
                                    <div>{{scrollLeft}}</div>
                                </td>
                                <td width="90px">
                                    <div>我是横向固定列2</div>
                                </td>
                                <td width="80px">
                                    <div>我是横向固定列3</div>
                                </td>
                                <td width="30px">
                                    <div>我是横向固定列4</div>
                                </td>
                                <td width="90px">
                                    <div>我是横向固定列5</div>
                                </td>
                                <td width="80px">
                                    <div>我是横向固定列6</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datagird-body" style="height:275px" (scroll)="scroll($event)" (click)="test()">
                <table class="datagird-btable table " style="width: 600px;">
                    <tbody>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <div>我是双向滚动列1</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列2</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列3</div>
                            </td>
                            <td width="30px">
                                <div>我是双向滚动列4</div>
                            </td>
                            <td width="90px">
                                <div>我是双向滚动列5</div>
                            </td>
                            <td width="80px">
                                <div>我是双向滚动列6</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datagird-footer">
            </div>
        </div>
    </div>
</div>