li {
    padding: 4px 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;
    line-height: 0.8;
    ul {
        padding: 0 0 0 18px;
        list-style: none;
    }
    span.tree-checkbox {
        margin: 4px 4px 0 2px;
    }
}

.tree-switcher {
    display: inline-block;
    height: 24px;
    width: 24px;
    outline: 0;
}

.tree-switcher-open {}

.tree-switcher-close {}

.tree-checkbox {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: top;
}

.tree-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    text-decoration: none;
    height: 16px;
    width: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    &:hover {
        border-color: #1890ff;
    }
}

.tree-checkbox-indeterminate .tree-checkbox-inner {
    //background-color: #1890ff;
    border-color: #1890ff;
    &:after {
        position: absolute;
        display: block;
        left: 2px;
        top: 2px;
        width: 10px;
        height: 10px;
        background: #1890ff;
        content: ' ';
    }
}

.tree-checkbox-checked .tree-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
    &:after {
        /* -webkit-transform: rotate(45deg) scale(0); */
        transform: rotate(45deg);
        position: absolute;
        left: 4.57142857px;
        top: 1.14285714px;
        display: table;
        width: 5px;
        height: 9px;
        border: 2px solid #ffffff;
        border-top: 0;
        border-left: 0;
        content: ' ';
        /* transition: all .1s cubic-bezier(.71,-.46,.88,.6); */
    }
}

.tree-content {
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    outline: 0;
}

.tree-title {
    display: block;
}