<li *ngFor="let node of nodes;let i = index">
    <span class="tree-switcher" [ngClass]="isExpend(node.isExpanded)?'tree-switcher-open':'tree-switcher-close'" (click)="switch($event,node)">
        <span  class="tree-switcher-icon" [ngClass]="getIconClass(node)">
        </span>
    </span>
    <span class="tree-checkbox" [ngClass]="isChecked(node)" (click)="check($event,node)">
        <span class="tree-checkbox-inner"></span>
    </span>
    <span class="tree-content"><span class="tree-title">{{node.title}}</span></span>
    <ul *ngIf="isExpend(node.isExpanded)" class="tree-child-tree">
        <app-tree-node [nodes]="node.children" (checkEvent)="outCheck($event)"></app-tree-node>
    </ul>
</li>