/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
html,
body {
    height: 100%;
    width: 100%;
    //font-size: 20px;
}


/*-------------------树形菜单样式------------------*/

.tree {
    font-size: 14px;
    //line-height: 21px;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 4px 0;
        margin: 0;
        list-style: none;
        white-space: nowrap;
        outline: 0;
        height: 32px;
        ul {
            padding: 0 0 0 18px;
        }
        span.tree-checkbox {
            margin: 4px 4px 0 2px;
        }
    }
}

.tree-switcher {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.tree-checkbox {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: top;
    //
}

.tree-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    text-decoration: none;
    height: 16px;
    width: 16px;
    border: 1px solid #d9d9d9;
}

.tree-content {
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
}

.tree-title {
    display: block;
}