/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}

// .tree {
//     li:not(:last-child) {
//         position: relative;
//         &:before {
//             content: '';
//             position: absolute;
//             border-left: 1px solid #d9d9d9;
//             height: 100%;
//             left: 11px;
//             margin: 22px 0;
//             //z-index: -1;
//         }
//     }
// }