<div #datagird class="datagird-container">
    <div *ngIf="config.isShowSearch" class="datagird-search row" [style.height]='hGirdSearch'>
        <div class="col-sm-12 col-md-4">
            显示第
            <span>{{beginNum}}</span>到
            <span>{{endNum}}</span>项结果
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="datafilter form-inline">
                <label>Search:
                    <input type="text" class="form-control input-sm" placeholder="" [(ngModel)]="searchInput" (keydown)="searchEvent($event)" (blur)="searchEvent($event)">
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="isShowTool" class="row datagird-tool" [style.height]='hGirdTool'>
        <div class="col-sm-12 col-md-4">
            <ul class="navbar-nav" [style.height]='hGirdTool'>
                <li *ngFor="let op of config.toolOperations" class="nav-item">
                    <a (click)="toolOpClick($event,op)">
                        <i class="fa" [ngClass]="op.iconClass"></i><span>{{op.title}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="tableSet pull-right">
                <button type="button" class="btn btn-sm" (click)="settingsClick($event)">
                   <i class="fa fa-tasks pr-2"></i>设置
                </button>
                <ul class="dropdown-menu dropUpShow" [class.show]="isSettingsShow">
                    <li>
                        <a class="dropdown-item" href="#" (click)="showColumnsForm($event)">选择显示列</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="datagird-view" [style.height]='hGirdView'>
        <div class="datagird-view1" [style.width]="wGirdFixed">
            <div class="datagird-header" [style.height]="hGirdHeader">
                <div class="datagird-header-inner">
                    <table class="datagird-htable" [style.width]="wGirdFixed">
                        <thead>
                            <tr [style.height]="hGirdHeader">
                                <td *ngIf="isfixed&&isShowCheck" [style.width]="wCheckbox+'px'">
                                    <input type="checkbox" (click)="selectAllRow($event.target.checked)" [checked]="isAllCheck()">
                                </td>
                                <td *ngIf="isfixed&&isfunction" [style.width]="w_op+'px'">
                                    <div>功能区</div>
                                </td>
                                <ng-container *ngFor="let column of showColumns">
                                    <td *ngIf="column.fixed" [style.width]="column.width+'px'">
                                        <div>{{column.title}}</div>
                                        <i class="fa" *ngIf="column.sort" [ngClass]="column.sortType?column.sortType:'fa-sort'" aria-hidden="true" (click)="sort(column)">
                                        </i>
                                    </td>
                                </ng-container>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="datagird-body" [style.height]="hGirdBody" [scrollTop]="scrollTop">
                <div class="datagird-body-inner">
                    <table class="datagird-btable" [style.width]="wGirdFixed">
                        <tbody>
                            <tr *ngFor="let item of sourceShow;let i= index" [class.hoverShow]="i==iHover&&!isCheck(i)" [class.hoverActiveShow]="i==iHover&&isCheck(i)" [class.active]="isCheck(i)" [style.height]="hGirdBodyTr" (click)="selectTr(i)" (mouseover)="mouseoverTr(i)" (mouseout)="mouseoutTr(i)">
                                <td *ngIf="isfixed&&isShowCheck" [style.width]="wCheckbox+'px'">
                                    <input type="checkbox" (click)="selectOneRow($event,i)" [checked]="isCheck(i)">
                                </td>
                                <td *ngIf="isfixed&&isfunction" [style.width]="w_op+'px'">
                                    <div class="operation">
                                        <a href *ngFor="let op of config.rowOperations" class="fa" [ngClass]="op.iconClass" [title]="op.title" (click)="opClick($event,op,item)">
                                        </a>
                                    </div>
                                </td>
                                <ng-container *ngFor="let column of showColumns">
                                    <td *ngIf="column.fixed" [style.width]="column.width+'px'">
                                        <div>{{ item[column.field]}}</div>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datagird-footer">

            </div>
        </div>
        <div class="datagird-view2" [style.left]="wGirdFixed">
            <div class="datagird-header" [style.height]="hGirdHeader" [scrollLeft]="scrollLeft">
                <div class="datagird-header-inner">
                    <table class="datagird-htable" [style.height]="hGirdHeader" [style.width]="wGirdTable">
                        <thead>
                            <tr [style.height]="hGirdHeader">
                                <td *ngIf="!isfixed&&isShowCheck" [style.width]="wCheckbox+'px'">
                                    <input type="checkbox" (click)="selectAllRow($event.target.checked)" [checked]="isAllCheck()">
                                </td>
                                <td *ngIf="!isfixed&&isfunction" [style.width]="w_op+'px'">
                                    <div>功能区</div>
                                </td>
                                <ng-container *ngFor="let column of showColumns">
                                    <td *ngIf="!column.fixed" [style.width]="column.width+'px'">
                                        <div>{{column.title}}</div>
                                        <i class="fa" *ngIf="column.sort" [ngClass]="column.sortType?column.sortType:'fa-sort'" aria-hidden="true" (click)="sort(column)">
                                        </i>
                                    </td>
                                </ng-container>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="datagird-body" [style.height]="hGirdBody" (scroll)="scroll($event)">
                <table class="datagird-btable " [style.width]="wGirdTable">
                    <tbody>
                        <tr *ngFor="let item of sourceShow;let i = index" [class.hoverShow]="i==iHover" [class.hoverActiveShow]="i==iHover&&isCheck(i)" [class.active]="isCheck(i)" [style.height]="hGirdBodyTr" (click)="selectTr(i)" (mouseover)="mouseoverTr(i)" (mouseout)="mouseoutTr(i)">
                            <td *ngIf="!isfixed&&isShowCheck" [style.width]="wCheckbox+'px'">
                                <input type="checkbox" (click)="selectOneRow($event,i)" [checked]="isCheck(i)">
                            </td>
                            <td *ngIf="!isfixed&&isfunction" [style.width]="w_op+'px'">
                                <div class="operation">
                                    <a href *ngFor="let op of config.rowOperations" class="fa" [ngClass]="op.iconClass" [title]="op.title" (click)="opClick($event,op,item)">
                                    </a>
                                </div>
                            </td>
                            <ng-container *ngFor="let column of showColumns">
                                <td *ngIf="!column.fixed" [style.width]="column.width+'px'">
                                    <div>{{ item[column.field] }}</div>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="datagird-footer">
            </div>
        </div>
        <div class="datagird-loading" *ngIf="!source">
            <h2>数据加载中</h2>
        </div>
    </div>
    <div *ngIf="config.isShowPage" class="datagird-page" [style.height]='hGirdPage'>
        <div class="page-left">
            <div>
                显示
            </div>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" (click)="clickPageNum($event)">
                    {{itemsPerPage}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropUpShow" [class.show]="isPageSelectShow">
                    <li *ngFor="let pageNum of pageNums">
                        <a class="dropdown-item" href="#" (click)="selectPageNum($event)">{{pageNum}}</a>
                    </li>
                </ul>
            </div>
            <div>
                条,共{{totalItems}}条
            </div>
        </div>
        <div class="page-right">
            <ul class="pagination">
                <li class="pagination-first page-item" [class.disabled]="noPrevious()">
                    <a class="page-link" href (click)="selectPage(1, $event)">
                        首页
                    </a>
                </li>
                <li class="pagination-prev page-item" [class.disabled]="noPrevious()">
                    <a class="page-link" href (click)="selectPage(currentPage - 1, $event)">
                        上一页
                    </a>
                </li>

                <li *ngFor="let pg of pages" [class.active]="pg.active" [class.disabled]="pg.active" class="pagination-page page-item">
                    <a class="page-link" href (click)="selectPage(pg.number, $event)" [innerHTML]="pg.text"></a>
                </li>

                <li class="pagination-next page-item" [class.disabled]="noNext()">
                    <a class="page-link" href (click)="selectPage(currentPage + 1, $event)">
                        下一页
                    </a>
                </li>

                <li class="pagination-last page-item" [class.disabled]="noNext()">
                    <a class="page-link" href (click)="selectPage(totalPages, $event)">
                        尾页
                    </a>
                </li>
            </ul>
            <input id="test" type="text" class="form-control" [(ngModel)]="inputPage" (keydown)="keydown($event)" (keypress)="keypress($event)">
            <button class="btn btn-primary" (click)="selectPage(inputPage, $event)">
                <i class="fa fa-step-forward" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="modal bg-color" [class.in]="isColumnsShow">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">选择显示列</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal($event)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div style="height: 200px;overflow: auto;">
                        <form>
                            <ul class="list-group">
                                <!-- <li *ngIf="config.isShowCheck" class="list-group-item">
                                    <input type="checkbox" [checked]="isShowCheck" #check>选择列
                                </li>
                                <li *ngIf="config.isShowFunction" class="list-group-item">
                                    <input type="checkbox" [checked]="isfunction" #fun>功能区
                                </li> -->
                                <li *ngFor="let col of checkColumns" class="list-group-item">
                                    <input type="checkbox" [checked]="col.show" (click)="checkChange(col)"> {{col.title}}
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="colSave(check&&check.checked,fun&&fun.checked)">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>